<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Project</span>
      <div class="input-group pull-left pad-left-right col-xs-7">
        <input #searchBox class="form-control pull-right" placeholder="Enter a seach value..." (keyup)="search(searchBox.value)">
        <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
      </div>
      <a [routerLink]="['new']" class="btn btn-success pull-right">Add Project</a>
    </div>
  </div>
  <div class="legend">
    <span class="topTwenty-color"></span> Top Twenty
    <span class="backup-color"></span> Backup
    <span class="notUnderConsideration-color"></span> No Longer Under Consideration
  </div>

  <div class="panel-body">
    <div class="center-panel" class="masonry-container">
      <insight-proj-projChoices-item class="masonry-item"
      *ngFor="let projChoice of projChoices | projChoicesFilter:term"
      [projChoice]="projChoice">
      </insight-proj-projChoices-item>
    </div>
  </div>
</div>