.title {
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
}

.margin-left-right{
  margin-left:1rem;
  margin-right:1rem;
}

.pad-left-right{
  margin-left:1rem;
  margin-right:1rem;
  word-wrap: break-word;
}

/* div.row label {
  font-weight: bold;
  color: blue;
  font-size: 14px;
  display: block;
  text-align: right;
  margin-bottom: 5px;
} */

.row {
  display: flex;
  align-items: center;
}

label {
  flex: 0 0 100px;
  text-align: right;
  margin-right: 10px;
}

span {
  flex: 1;
}

