.publicationDiv {
  /* white-space:nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;

  width: 11rem;
  height: 115px;
  margin: 2px;
  font-size: 1.3rem;
  border: solid thin darkgrey;
  float: left;
  padding: .25rem
}

.list-group-item.clearfix.publicationDiv.active{
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: 0.5rem outset #32D2FF;
  text-align: center;
}