<div class="panel panel-default">
  <div class="panel-body">
    <form id="projChoice-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Project Title:</label>
          <textarea
            type="text"
            id="name"
            class="form-control"
            cols="50" 
            rows="2"
            name="name"
            [ngModel]=projChoice?.name
            required
            #name="ngModel"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="proposedBy">Proposed By:</label>
          <input
            type="text"
            id="proposedBy"
            class="form-control"
            size="150"
            max="255"
            name="proposedBy"
            [ngModel]=projChoice?.proposedBy
            #proposedBy="ngModel">
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-sm-12 form-group">
          <input type="checkbox" name="topTwenty" [(ngModel)]="projChoice.topTwenty">
          <label for="topTwenty">Top Twenty</label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <input type="checkbox" name="backup" [(ngModel)]="projChoice.backup">
          <label for="backup">Backup</label>
        </div>
      </div> -->


      <p>Project Status:</p>
      <input type="radio" id="topTwenty" name="status" value="topTwenty" [(ngModel)]="projChoice.status">
      <label for="topTwenty">Top Twenty</label><br>
      <input type="radio" id="backup" name="status" value="backup" [(ngModel)]="projChoice.status">
      <label for="backup">Backup</label><br>  
      <input type="radio" id="underConsideration" name="status" value="underConsideration" [(ngModel)]="projChoice.status">
      <label for="underConsideration">Under Consideration</label><br>
      <input type="radio" id="notUnderConsideration" name="status" value="notUnderConsideration" [(ngModel)]="projChoice.status">
      <label for="notUnderConsideration">No Longer Under Consideration</label><br>




      <div class="alert alert-danger" *ngIf="!f.valid && f.touched">
        The and Project Name is a required field.
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>
